/Anagram.class
/BubbleSort.class
/DayOfWeek.class
/InsertionSort.class
/MonthlyPayments.class
/PrimeNumber.class
/SquareRoot.class
/TemperatureConversion.class
/ToBinary.class
/Util.class
/toBinary.class
